.footer{
    margin: 67px auto 60px;
    max-width: 880px;
}

@media screen and (max-width: 950px){
    .footer{
        max-width: 600px;
    }
}

@media screen and (max-width: 600px){
    .footer{
        max-width: 282px;
        margin: 48px auto 36px;
    }
}