.popup__avatar-container{
    width: 430px;
    min-height: 272px;
    padding: 34px 36px 36px;
}


@media screen and (max-width: 700px){
    .popup__avatar-container{
        width: 282px;
        padding: 25px 22px 25px;
        height: 272px;
    }
}