.popup__success-image{
    background-image: url("../../../images/registration-ok.svg");
    height: 120px;
    width: 120px;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 27px auto 32px
}